<!DOCTYPE html>
<html lang="en">
<head lang="en">
    <meta charset="UTF-8">
    <title>{% block title%} Bienvenido a Wordplease. La página de blogs desarrollada por Alejandro Rodríguez {% endblock %}</title>
</head>
<body>
    <nav>
        <a href="{% url 'posts_home' %}">Home</a>
        <a href="{% url 'blogs_list' %}">Blogs</a>
        <a href="{% url 'users_login' %}">Login</a>
        <a href="">Sign up</a>


    </nav>

    <!--Esto representa una linea horizontal-->
    <hr>

    <section>
        {% block section %}{% endblock %}
    </section>

    <hr>
    WordPlease Inc; Todos los derechos reservados.
</body>
</html>