{% extends 'base.html' %}

    {% block title %}

     {{ post.title }}

    {% endblock %}

    {% block section %}
    <img src="{{ post.url_image }}" alt="{{ post.title }}" height="300">
    <p>
        <strong>Resumen:</strong>
        {{ post.summary }}
    </p>
    <p>
        <strong>Texto:</strong>
        {{ post.body }}
    </p>
    <p>
        <strong>Autor:</strong>
        {{ post.blog.owner.first_name }}
        {{ post.blog.owner.last_name }}
    </p>

    {% if post.categories.all|length > 0 %}

        <p>
            <strong>Categorías:</strong>
        </p>

    {% endif %}

    {% for category in post.categories.all %}

        <p>
            <strong>Nombre:</strong>
            {{ category.name }}
        </p>

    {% endfor %}

    {% endblock %}